/* ============================================
   ESSENTIAL STYLES FOR STREAMLIT COMPONENTS
   ============================================ */

/* Global Variables */

:root {
    --primary: #63e07f;
    --primaryLight: #ffba43;
    --secondary: #f1f1f1;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #1a1a1a;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

@media screen and (min-width: 1101px) {
    .mydiv, .st-key-toggle_map_controls [data-testid="stMarkdownContainer"], .st-key-reload_data [data-testid="stMarkdownContainer"], .st-key-hidden_map_controls [data-testid="stMarkdownContainer"]{
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
    .mydiv, .st-key-toggle_map_controls [data-testid="stMarkdownContainer"], .st-key-reload_data [data-testid="stMarkdownContainer"], .st-key-hidden_map_controls [data-testid="stMarkdownContainer"]{
    font-size: 10px;
  }
}

.mydiv {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* ============================================
   MAP STYLES
   ============================================ */

@media screen and (min-width: 1101px) {
    .mydiv, .st-key-toggle_map_controls [data-testid="stMarkdownContainer"], .st-key-reload_data [data-testid="stMarkdownContainer"], .st-key-hidden_map_controls [data-testid="stMarkdownContainer"]{
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
    .mydiv, .st-key-toggle_map_controls [data-testid="stMarkdownContainer"], .st-key-reload_data [data-testid="stMarkdownContainer"], .st-key-hidden_map_controls [data-testid="stMarkdownContainer"]{
    font-size: 10px;
  }
}

.mydiv {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.st-key-reload button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.st-key-map_container{
    position: relative;
    z-index: 0;
    padding: 12px;
    background-color: white;
    border-radius:12px;
    max-height:530px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.st-key-map_auto_refresh{
    position: relative;
    z-index: 0;
    padding: 12px;
    background-color: #F1F1F1;
    border-radius:12px;
}

.st-key-map_controls{
    position: absolute;
    opacity: 0.7;
    display: flex;
    padding: 5px 5px 5px 5px;
    max-width: 350px;
    min-width: 230px;
    min-height: 250px;
    width: 50%;
    height: max-content;
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    top: 2%;
    left: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(138, 138, 138, 0.4);
    border-radius: 12px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.st-key-map_controls:hover{
    opacity: 1.0;
}

.st-key-toggle_map_controls{
    border-radius: 12px;
    z-index: 2;
}

.st-key-reload_data{
    border-radius: 12px;
    z-index: 2;
}

.st-key-hidden_map_controls{
    position: absolute; /* <-- Ahora se posiciona respecto al contenedor */
    opacity: 0.7;
    max-width: 300px;
    min-width: 120px;
    min-height: 40px;
    width: 5%;
    height: 10%;
    top: 2%;
    left: 1%;
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    background-color: rgba(138, 138, 138, 0.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    z-index: 2;
    justify-content: center; /* horizontal */
    align-items: center;
}

.st-key-hidden_map_controls:hover{
    opacity: 1.0;
}

.st-key-graphs {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}

.st-key-graph1{
    flex: 50%;
    overflow: hidden;
}

.st-key-graph2{
    flex: 50%;
    overflow: hidden;
}

.st-key-graphsx {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}


.st-key-graphx1, .st-key-graphx2{
    flex: 50%;
    overflow: hidden;
}

.st-key-data{
    padding: 12px;
    background-color: white;
    border-radius:12px;
    min-height:620px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

[data-baseweb="button-group"]{
    padding: 8px;
    background-color: #f1f1f1;
    border-radius:12px;
}

[data-baseweb="slider"]{
    padding: 12px;
    background-color: #f1f1f1;
    border-radius:12px;
}

[data-testid="stBaseButton-pillsActive"]{
    background-color: #0fa539;
    border-radius:6px;
    color: var(--bodyTextColorWhite);
}


/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media (max-width: 768px) {
  .st-key-graphs {
    flex-wrap: wrap;
  }
}

[data-testid="stHorizontalBlock"] {
    filter: drop-shadow(2px 2px 2px gray);
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 12px;
}

[data-testid="stSidebarContent"] {
    background: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 0px;
}

header.stAppHeader {
    background: rgba(0, 0, 0, 0);
}

.stMainBlockContainer {
    padding-top: 0.2rem;
}

.st-key-app_title .stHeading {
    text-align: center;
}

.st-key-app_title{
    left: 40px
}