/* ============================================
   ESSENTIAL STYLES FOR STREAMLIT COMPONENTS
   ============================================ */

/* Global Variables */

:root {
    --primary: #0fa539;
    --primaryLight: #ffba43;
    --secondary: #f1f1f1;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #1a1a1a;
    --bodyTextColorWhite: #fafbfc;
    /* 10px - 16px */
    --containerFontSize: clamp(0.720rem, 0.5rem + 0.556vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --graphTitleFontSize: clamp(0.900rem, 0.7rem + 0.556vw, 1.5rem);
    --bodyFontSize: 1rem;
}

/* ============================================
   MAP STYLES
   ============================================ */

.contaminantdiv {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px; 
    font-size: var(--containerFontSize);
}

.st-key-reload button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.st-key-map_container{
    position: relative;
    z-index: 0;
    padding: 12px 12px 0px 12px;
    background-color: white;
    border-radius:12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.st-key-map_auto_refresh{
    position: relative;
    z-index: 0;
    padding: 12px;
    background-color: #F1F1F1;
    border-radius:12px;
}

.st-key-map_controls{
    position: absolute;
    opacity: 0.9;
    display: flex;
    padding: 5px 5px 5px 5px;
    max-width: 350px;
    min-width: 230px;
    min-height: 250px;
    width: 50%;
    height: max-content;
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    top: 2%;
    left: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(138, 138, 138, 0.4);
    border-radius: 12px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.st-key-map_controls:hover{
    opacity: 1.0;
}

.st-key-toggle_map_controls{
    border-radius: 12px;
    z-index: 2;
}

.st-key-reload_data{
    border-radius: 12px;
    z-index: 2;
}

.st-key-hidden_map_controls{
    position: absolute; /* <-- Ahora se posiciona respecto al contenedor */
    max-width: 400px;
    min-width: 120px;
    min-height: 40px;
    width: 5%;
    height: 10%;
    top: 3%;
    left: 1%;
    background: rgba(0,0,0,0);
    z-index: 2;
    justify-content: center; /* horizontal */
    align-items: center;
}

.st-key-show_map_controls [data-testid="stBaseButton-secondary"]{
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

.st-key-graphs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}

.st-key-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 12px;
    padding: 12px;
    overflow: visible;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.st-key-graphsx, .st-key-graphsy{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}

.st-key-dailies{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}

.st-key-info {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 12px;
    overflow: hidden;
}

.st-key-global {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
}

.st-key-pie{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex: 50%;
    text-align: center;
    align-items: space-between;
    background-color: white;
}

.st-key-daily{
    border-radius: 12px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.st-key-graph1, .st-key-graph2, .st-key-daily, .st-key-graphx1, .st-key-graphx2{
    flex: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 12px;
}

[class="modebar-container"]{
    visibility: hidden;
}

.st-key-col1, .st-key-col2, .st-key-col3, .st-key-col4{
    flex: 25%;
    overflow: hidden;
}

.st-key-data{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    overflow: hidden; 
    min-height: 625px;
}

[data-baseweb="button-group"]{
    padding: 8px;
    background-color: #f1f1f1;
    border-radius:12px;
}

.st-key-table [data-testid="stLayoutWrapper"]{
    border-radius: 12px;
    padding: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

[data-testid="stExpandSidebarButton"]{
    background-color: var(--primary);
    border-radius:12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: pulse-glow 2s infinite ease-in-out;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 7px 5px rgba(248, 228, 92, 0.75);
  }
  50% {
    box-shadow: 0 0 17px 10px rgba(248, 228, 92, 0);
  }
}

[data-baseweb="slider"]{
    padding: 12px;
    background-color: #f1f1f1;
    border-radius:12px;
}

[data-testid="stBaseButton-pillsActive"]{
    background-color: #0fa539;
    border-radius:6px;
    color: var(--bodyTextColorWhite);
}

[data-testid="stBaseButton-pillsActive"] > [data-testid="stMarkdownContainer"]{
    font-size: var(--containerFontSize);
}

[data-testid="stSidebarUserContent"]{
    padding: 24 0 0 0;
}

[data-testid="stSidebarCollapseButton"]{
    visibility:visible;
}

[data-testid="stMetricValue"]
{
    font-size: 1.25rem; 
}

.st-key-info [data-testid="stVerticalBlock"]
{
    gap: 0; 
}

.graphtitle, .st-key-daily [data-testid="stMarkdownContainer"]{
    font-size: var(--graphTitleFontSize); 
    font-weight: 600; 
    text-align: center;
}

.datetitle{
    font-size: var(--graphTitleFontSize); 
    text-align: center;
    margin: 0;
}

.footer{
    font-size: var(--graphTitleFontSize); 
    color: var(--bodyTextColorWhite);
    font-weight: 600; 
    text-align: center;
    background-color:var(--primary);
    margin-top: 20px;
    margin-left: calc((-100vw + 100%) / 2);
    margin-right: calc((-100vw + 100%) / 2);
    margin-bottom: -60px;
    padding: 5px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-key-daily{
    padding:12px;
}

.st-key-daily [data-testid="stWidgetLabel"] > *{
    font-size:var(--bodyFontSize)
}

.dailytitle{
    font-size: 1.50rem; 
    font-weight: 600; 
    text-align: center;
}

[data-testid="stSidebarContent"] {
    background: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 0px;
}

.st-key-daily, .st-key-pie{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    border-radius: 0px;
}

header.stAppHeader {
    background: rgba(0, 0, 0, 0);
}

.stMainBlockContainer {
    padding-top: 0.2rem;
    padding-bottom: 1.8rem;
}

.st-key-app_title .stHeading {
    text-align: center;
}

.st-key-app_title{
    left: 40px
}

[data-testid="stBaseButton-elementToolbar"], [data-testid="stElementToolbarButtonContainer"]{
    visibility:hidden;
}

/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

.st-key-reload button, .st-key-map_container, .st-key-map_auto_refresh, .st-key-legend_selector [data-testid="stSelectbox"] > *, .st-key-map_controls, .st-key-toggle_map_controls, .st-key-toggle_map_controls [data-testid="stMarkdownContainer"],
.st-key-reload_data, .st-key-hidden_map_controls, .st-key-reload_data [data-testid="stMarkdownContainer"], .st-key-hidden_map_controls [data-testid="stMarkdownContainer"]{
    font-size: var(--containerFontSize);
}

.st-key-map_controls{
    font-size: clamp(0.200rem, 0.5rem + 0.556vw, 1rem);
}

  .st-key-map_container, [data-testid="stDeckGlJsonChart"], [id="deckgl-wrapper"], [id="deckgl-overlay"] {
    display:flex;
}   

[data-testid="stHeader"]{
    width:0px;
}

   /* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .st-key-graphs, .st-key-graphsx, .st-key-main, .st-key-info, .st-key-graphsy {
    flex-wrap: wrap;
    }

    [data-baseweb="popover"]:has([data-baseweb="calendar"]){
        visibility: hidden;
    }

    .scrollable-container::-webkit-scrollbar {  
    width: 6px; /* Increase scrollbar width for visibility */  
    }  
 
    .scrollable-container::-webkit-scrollbar-track {  
    background: #f1f1f1; /* Light gray track */  
    border-radius: 10px; /* Rounded corners */  
    }  
 
    .scrollable-container::-webkit-scrollbar-thumb {  
    background: #888; /* Dark gray thumb */  
    border-radius: 10px; /* Rounded thumb */  
    }  
 
    .scrollable-container::-webkit-scrollbar-thumb:hover {  
    background: #555; /* Darker thumb on hover (optional) */  
     }  
 
    /* Firefox */  
    .scrollable-container {  
    scrollbar-width: thin; /* Make scrollbar visible */  
    scrollbar-color: #888 #f1f1f1; /* Thumb color, track color */  
    }  

    .scrollable-container {  
    -webkit-overflow-scrolling: touch; /* iOS momentum scrolling */  
    }  
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    .st-key-graphs, .st-key-graphsx, .st-key-main, .st-key-info, .st-key-graphsy {
    flex-wrap: wrap;
    }

    [data-baseweb="popover"]:has([data-baseweb="calendar"]){
        visibility: hidden;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .st-key-graphs, .st-key-graphsx, .st-key-main, .st-key-info, .st-key-graphsy {
    flex-wrap: nowrap;
    } 

    [data-baseweb="popover"]:has([data-baseweb="calendar"]){
        visibility: hidden;
    }

    .st-key-pie_categories{
        margin-top: 40px;
    }
}